<div class="home">
    <div class="search">
        <input type="text" [(ngModel)]="search" placeholder="Type to search">
    </div>
    <div class="book_table">
        <div class="books" *ngFor="let b of books | searchFilter:search" (click)="navigateTo()">
            <div class="book_img">
                <img src="{{b.image}}" alt="">
            </div>
            <div class="book_det">
                <label>{{b.title}}</label>
                <div class="book_desc">
                    {{b.subtitle}}
                </div>
            </div>
        </div>
    </div>
</div>
